.main_wrapper {
  display: flex;
  padding: 30px 30px;
  padding-top: 120px;
  background-color: var(--light);
  color: var(--dark);
  justify-content: space-between;
}

#wrapper_section {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: center;
  background-color: var(--bright);
  border: 1px solid var(--dark);
  border-radius: 20px;
  box-shadow: 10px 10px 23px -11px var(--bright);
  padding: 20px;
}

.profile {
  width: 400px;
}

.img_section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile_photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 10px 10px 23px -11px var(--brown);
  margin-bottom: 15px;
}

.add_photo {
  position: absolute;
  top: 180px;
  right: 0;
  border: none;
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: transparent;
  color: var(--dark);
  transition: 0.3s;
  &:hover {
    transform: scale(1.5);
    z-index: 20;
    color: var(--light);
  }
}

.list_info {
  border-top: 1px solid var(--dark);
  ul {
    padding: 10px 0;
  }
  li {
    list-style: none;
    padding-top: 10px;
    font-size: 1.2em;
  }
}

.btn_change_contacts,
.btn_save_changes {
  font-size: 1.3rem;
  color: var(--dark);
  border: none;
  background-color: transparent;
}

.btn_change_contacts {
  margin-left: 15px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.btn_save_changes {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--bright);
  font-size: 1.1em;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.list_inventory {
  margin-top: 10px;
  border-top: 1px solid var(--dark);
  li {
    list-style: none;
    padding-top: 10px;
    font-size: 1.2em;
  }
  li::before {
    content: "✓";
  }
}
